<div id="twrap">
    <div id="twrapback"></div>
    <div class="container centered">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            <h2>NOW THE WORLD OF ROBOTICS IS OPEN FOR YOU!<h2>
            <h3>Features</h3>
            <ul>
                <li>Get a research team and contribute in ongoing research project.</li>
                <li>Possiblity to work with the real time experimental robotics data.</li>
                <li>Possiblity to implement your algorithm on the available robots.</li>
                <li>Prepare your thesis partially or completely under supervison.</li>
                <li>Guidance to write research papers for  journals and conferences.</li>
                <p>* We encourage the use of open source. All the simulators and robotics data used in our projects are under open source.</p>
            </ul>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/twrap -->
